{% extends 'base.html.twig' %}

{% block title %}Livequestion | Connexion{% endblock %}

{% block body %}
	<main class="col-12 text-center">
		<h1>Connexion</h1>

		<p><a href="{{ asset('/') }}">Retour</a></p>
	</main>
{% endblock %}