{% extends 'base.html.twig' %}

{% block title %}Livequestion | Accueil{% endblock %}

{% block body %}
	<main class="col-12 text-center">
		<nav class="text-right">
			<p><a href="{{ asset('/connexion') }}">Connexion</a></p>
		</nav>

		<h1>Accueil</h1>
	</main>
{% endblock %}