<!DOCTYPE html>
<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

		<link rel="stylesheet" href="css/{% block css %}{% endblock %}.css">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
		{% block navigation %}
			<navbar class="navbar fixed-top navbar-expand navbar-dark bg-dark">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto">
						<li class="nav-item{% if app.request.attributes.get('_route') == '/' %} active{% endif %}">
							<a class="nav-link" href={{'/'}}>Accueil</a>
						</li>
						<li class="nav-item{% if app.request.attributes.get('_route') == 'connexion' %} active{% endif %}">
							<a class="nav-link" href={{'connexion'}}>Connexion</a>
						</li>
						<li class="nav-item{% if app.request.attributes.get('_route') == 'presentation' %} active{% endif %}">
							<a class="nav-link" href={{'presentation'}}>Presentation</a>
						</li>
					</ul>
				</div>
			</navbar>
		{% endblock %}

        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>